@model  List<finalMVC.Context.tbl_Client>
@{
    ViewBag.Title = "ClientList";
}

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Library ID</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.libraryID</td>

            <td>
                <a href="@Url.Action("Client",new { item.ID,item.Name,item.Age,item.libraryID})" class="btn btn-success">Edit</a>
                <a href=" @Url.Action("Delete",new { item.ID})" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>




